## Data Analysis

In [1]:
import os
import dotenv

dotenv.load_dotenv()
DB_HOST = os.getenv('GP_DB_HOST')
DB_PORT = os.getenv('GP_DB_PORT')
DB_USER = os.getenv('GP_DB_USER')
DB_PASS = os.getenv('GP_DB_PASS')
DB_NAME = os.getenv('GP_DB_NAME')

DB_HOST = "groupseven.c7uho3baxiu8.us-west-2.rds.amazonaws.com"
DB_NAME = "groupseven"
DB_USER = "seven"
DB_PASS = "BAIT580SQL"
DB_PORT = "5432"

conString = {'host':DB_HOST,
             'user':DB_USER,
             'dbname':DB_NAME,
             'password':DB_PASS,
             'port':DB_PORT}

# Data manipulation
import pandas as pd
import missingno as msno

import numpy as np
import psycopg2

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

# Visualizations
import altair as alt
import matplotlib as plt
alt.data_transformers.disable_max_rows()  # disable error for big datasets

DataTransformerRegistry.enable('default')

In [30]:
d = pd.read_excel('data/TIMMS2019/1-1_achievement-results-M4.xlsx',header=4)
x = d[['Country','Average \nScale Score']].iloc[0:60,:]
x.columns = ['Country','AVGScore']
x.tail(20)

                   Country  AVGScore
40                 Albania     494.0
41             New Zealand     487.0
42                  France     485.0
43                 Georgia     482.0
44    United Arab Emirates     481.0
45                 Bahrain     480.0
46         North Macedonia     472.0
47              Montenegro     453.0
48  Bosnia and Herzegovina     452.0
49                   Qatar     449.0
50                  Kosovo     444.0
51   Iran, Islamic Rep. of     443.0
52                   Chile     441.0
53                    Oman     431.0
54            Saudi Arabia     398.0
55                 Morocco     383.0
56                  Kuwait     383.0
57        South Africa (5)     374.0
58                Pakistan     328.0
59             Philippines     297.0

Establishing Connection

In [ ]:
conn = psycopg2.connect(**conString)
cur = conn.cursor()

In [ ]:
cur.execute("""SELECT * FROM edx.wrld_bnk_indc""")
res = cur.fetchall()

df = pd.DataFrame(res)

In [ ]:
df.columns=['country_name','country_code','year','edu_pcnt_scnd_bud','sch_enr_sec','edu_pcnt_prim_bud','edu_pcnt_gdp_pstudcapita_scnd','edu_pcnt_gdp_pstudcapita_prim',
             'edu_pcnt_ter_bud','edu_pcnt_bud','sch_enr_pri','edu_pcnt_gdp_pstud_capita_ter','edu_pcnt_gdp']

df

In [ ]:
msno.matrix(df)

In [ ]:
import klib

Closing Connection

In [ ]:
conn.close()